:root {
    margin: 0;
    padding: 0;
}

.sidebar{
    background-color: #34445e;
    height: 700px;
    width: 100%;
}



.header{
    height: 60px;
}

.footer{
    height: 60px;
    background-color:#2980b9;
    color: white;
}